{% extends 'base.html' %}
{% load static %}


{% block main %}
<br />
<div class="text-center mt-5">
	<img class="rounded-circle headshot" src="{% static 'img/me.png' %}" alt="Headshot of Will Vincent">
</div>
<br />
<h1>About</h1>
<p class="fs-5"><span class="bold">DjangoInsights.</span> is a project by 
	<a href="https://wsvincent.com/about/">Diarra Moustapha</a>
</p>
<p class="fs-5">
	👋 Hey! I'm Diarra and welcome to my blog. My goal with this website is to transmit my knowledge about django and to help Django and python developers to learn more about Django and become better at it.
</p>
<p class="fs-5">
	I also offer custom Django development services for small companies and startups. You can reach me <a href="{% url 'blog:contact_me' %}">Here</a>
</p>

{% endblock %}

